
/* Structure */
.container {
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px auto 150px;
    grid-template-areas:
    "hd"
    "ct"
    "ft"
}

/* Header style */ 
.header {
    grid-area: hd;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(25%, 4);
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
    "left center right"
    "left center right"
    "left center right"
    "left null right"
}

.header > .title {
    grid-area: center;
    text-align: center;
}


#site-title {
    font-size: 38px;
    font-weight: 700;
    color: black;
}

.title > a {
    text-decoration: none;
}

.title > p {
    font-weight: 400;
    color: #606060;
    font-size: 20px;
    line-height: 26px;
}

/* Content style */ 
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    max-width: 800px;
}

.post-title {
    font-size: 26px;
}

.post-content {
    font-size: 18px;
    line-height: 1.5rem;
    color:#606060;
}

.date {
    font-size: 1rem;
    padding: 0px 10px 10px 10px;
    color: #606060;
}

/* Footer */
.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    margin: auto 3rem;
    padding: 0 0 
}

a > img {
    margin: auto;
    height: 30px;
    width: 30px;
}

