
.container {
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18% 72% 10%;
    grid-template-areas:
    "hd"
    "ct"
    "ft"
}

/* Header style */ 
.header {
    grid-area: hd;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(25%, 4);
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
    "left center right"
    "left center right"
    "left center right"
    "left null right"
}

.title {
    grid-area: center;
    text-align: center;
}

.title > h1 {
    font-size: 30px;
    font-weight: 900;
}

.title > p {
    font-weight: 700;
    color: #606060;
    line-height: 22px;
}

.search {
   /* grid-area: right;
    margin: auto;*/
    grid-area: right;
    justify-self: end;
    padding: 25px 30px;
    width: 30px;
    height: 30px;

}

/* Content style */ 
.content {
    grid-area: ct;
    display: block;
}


/* Footer */
.footer {
    grid-area: ft;
}

/* Development 
.header > * {
    border: 2px solid blue;
} */